* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  background: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #F9F9FA;
  border-top: 2px solid orange;
  border-bottom: 1px solid black;
}

header input {
  width: 40%;
}

.search {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.topBody {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

.allQuestions {
  font-size: 2em;
}

.askQuestionButton {
  color: white;
  background-color: #0E7EFF;
  padding: 1.2em;
  border-radius: 5px;
}


