* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  background: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: .3em 5em;
  background-color: #F9F9FA;
  border-top: 2px solid orange;
  border-bottom: 1px solid black;
  align-items: center;
}

header input {
  width: 60%;
}

.search {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.topBody {
  display: flex;
  justify-content: space-between;
  margin: 2em 0em 2em 0em;
}

.allQuestions {
  font-size: 1.8em;
  margin-left: 10%;
}

.askQuestionButton {
  display: flex;
  color: white;
  background-color: #0E7EFF;
  padding: 1.2em;
  border-radius: 5px;
  margin-right: 10%;
  text-decoration: none;
}

.questions {
  display: flex;
  margin: 0em 5em 0em 5em;
  background-color: #FFFBE8;
  color: grey;
}

.votes,
.answers,
.questionBox {
  display: flex;
  flex-direction: column;
  padding: .4em;
}

.votesAnswersBox {
  display: flex;
  border: 1px solid lightgray;
  text-align: center;
}

.votesAndAnswers {
  font-size: .7em;
} 

.questionBox {
  width: 90%;
  border: 1px solid lightgray;
}

.questions p {
  padding: .2em;
}

.dateTime {
  text-align: right;
}

.question {
  color: darkblue;
}

.questionBox p:hover {
  color: lightskyblue;
}