* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  background: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: .3em 3em;
  background-color: #F9F9FA;
  border-top: 2px solid orange;
  border-bottom: 1px solid black;
  align-items: center;
}

header input {
  width: 60%;
}

.search {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.topBody {
  display: flex;
  justify-content: space-between;
  margin: 2em 0em 2em 0em;
  border-bottom: 1px solid grey;
  padding-bottom: 2em;
}

.allQuestions {
  font-size: 1.8em;
  margin-left: 10%;
}

.askQuestionButton {
  display: flex;
  color: white;
  background-color: #0E7EFF;
  padding: 1.2em;
  border-radius: 5px;
  margin: 0em 4em 0em 2em;
  text-align: center;
  text-decoration: none;

}

.questions {
  display: flex;
  margin: 0em 5em 0em 5em;
  background-color: #FFFBE8;
  color: grey;
}

.votes,
.answers,
.questionBox {
  display: flex;
  flex-direction: column;
  padding: .4em;
}

.votesAnswersBox {
  display: flex;
  border: 1px solid lightgray;
  text-align: center;
}

.votesAndAnswers {
  font-size: .7em;
} 

.questionBox {
  width: 90%;
  border: 1px solid lightgray;
}

.questions p {
  padding: .2em;
}

.dateTime {
  text-align: right;
}

.question {
  color: darkblue;
}

.questionBox p:hover {
  color: lightskyblue;
}

.answeredQuestionBox {
  display: flex;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 1em;
  margin: 0em 1em 0em 1em;
}

.votesUpButton {
  font-size: 1.5em;
}

.votesUpDown p {
  padding: .5em;
  text-align: center;
  margin-right: 3em;
  
}
.answerAQuestionForm {
  width: 80%;
  align-content: center;
}

.answerAQuestionBoxSection {

}

.answerAQuestionBox {
  width: 100%;
  height: 10em; 
}

.lines {
  border-bottom: 1px solid lightgray;
  margin: 2em 0em 2em 0em;
}

.number_of_answers {
  font-size: 1.8em;
  margin-left: 5%;
  padding: 0.5em;
}

.search_button {
  
  width: 8%;
  text-align: center;
  background: #0E7EFF;
  color: white;
  padding: 1em;
  border-radius: 5px;
  text-decoration: none;
  
}